h1,
h2,
h3 {
  padding-left: 1rem;
}

.c-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  padding: 0;
  margin-left: -1.5rem;
  width: 100%;
}
@supports (display: grid) {
  .c-card-container {
    display: grid;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    margin: 0;
    margin-left: -0.5rem;
  }

  .c-card + .c-card {
    margin-top: 0;
  }

  .c-card {
    width: auto;
    min-height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
.c-card {
  min-width: 15rem;
  //width: calc((100% / 5) - 1.5rem); IE: enable this line when number of c-card-container per row is known. Currently is 5
  margin: 0 0 1.5rem 1.5rem;
  border: 1px solid;
  border-radius: 0.25rem;
}

.c-text-input {
  display: flex;

  input {
    padding: 10px 10px 10px 8px;
    border: 0;
    border: 1px solid #9aa3ab;
    margin-bottom: 2rem;
    flex-grow: 1;
    margin-left: 1rem;
    margin-right: 0.5rem;
    border-radius: 4px;

    &:focus {
      outline: none;
      border: 1px solid #000;
    }

    &::placeholder {
      color: #9aa3ab;
    }
  }
}
